* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#head{
     text-align: center;
     color: white;
     /* margin-top: 50px; */
     /* display: flex; */
     /* justify-content: space-evenly; */
     
}

.class-container {
     background-color: rgb(4, 4, 119);
     border: 2px solid black;
     width: 30vw;
     height: 70vh;
     margin-inline: auto;
     margin-block: 100px;
     display: grid;
     gap: 5px;
     padding: 10px;
}

.input-group {
     display: flex;
     gap: 5px;
     /* justify-content: space-between; */
}

.input-group input {
     font-size: 30px;
     width: 100%;
     outline: none;
     padding-right: 10px;
     text-align: right;
     border-radius: 5px;
}

.input-group button {
     /* padding:10px; */
     width: 25%;
     font-size: 25px;
     border-radius: 5px;

}
.input-group button:hover{
     background-color: rgb(185, 180, 180);
}

.input-group .sum {
     background-color: rgb(4, 4, 119);
     color: white;
}

.input-group .sum:hover {
     background-color: rgb(0, 0, 255);
}